@import '../sass/libs/vendor';

$maincolor: #1b3668;
$subcolor: #5e99c3;
$fontcolor1: #8f9da7;
$fontcolor2: white;

#footer{
    @include vendor('background-image', ('linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0))', 'url("images/bg01.png")'));
	background-color: #f7f7f7;
	background-position: top left, top left;
	background-repeat: repeat-x, repeat;

    padding: 60px;
    margin: 0;
    margin-top: 30px;
}

#bottom{
    background-color: $maincolor;
    color: $fontcolor1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: xx-small;
}