$maincolor: #1b3668;
$subcolor: #5e99c3;
$fontcolor1: #8f9da7;
$fontcolor2: white;
$backgroundcolor: white;

.container {
    min-height: 400px;
    width: 30vw;
    min-width: 400px;
    text-align: left;
    padding: 75px;

    margin: auto;
    margin-top: 60px;
    h1 {
        text-align: center;
    }
    input{
        padding: 5px;
        border:2px $fontcolor1 groove;
        border-radius: 3px;
        width: 100%;
    }
    button{
        width: 100%;
        height: 50px;
        padding: 8px;
        text-align: center;
        background-color: rgb(16, 111, 179);
        font-size: large;
        color: white;
        border-radius: 6px;
    }
    p {
        padding: 8px;
        font-size: 120%;
      }
  }

